[user]
  name = hsinhoyeh
  email = yhh92u@gmail.com
[alias]
  pr = pull --rebase --stat
  co = checkout
  ci = commit
  st = status --untracked-files=no
  stfull = status
  br = branch
  re = remote
  di = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  branchdate = !git for-each-ref --sort='-authordate' --format='%(refname)%09%(authordate)' refs/heads | sed -e 's-refs/heads/--'
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  editor = /Applications/MacVim.app/Contents/MacOS/Vim
  eol = lf
[merge]
  tool = diffmerge
  conflictstyle = diff3
[mergetool]
  prompt = false
[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
  cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
  trustExitCode = true
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
